.home {

  &__grid-movie {
    border-radius: 8px;
    background: #222222;
    padding: 16px;
    padding-right: 0;
  }

  &__top-view {
    border-radius: 8px;
    background: #222222;
    padding: 16px;
    padding-right: 0;
  }

  &__tags {
    border-radius: 8px;
    background: #222222;
    padding: 16px;
    padding-right: 0;
  }

  &__categories {
    border-radius: 8px;
    background: #222222;
    padding: 16px;
  }
}
